body{
    margin: 0;
    font-family: "Playfair Display", serif;
    font-size: 18px;
    font-weight: 500;
    color: #2A3557;
    background-color: #e3dbd5;
}
a{
    text-decoration: none;
    color: inherit;
}
input, textarea, select{
    outline: none;
    border: 2px solid #b7b6b5;
    border-radius: 5px;
}
input[type="text"], textarea{
    width: 50%;
    padding: 5px;
}
input[type="email"]{
    width: 50%;
    padding: 5px;
}
input[type="checkbox"]{
    width: 25px;
    cursor: pointer;
}
input[type="number"]{
    width: 30px;
    padding: 5px;
}
select{
    width: calc(50% + 14px);
    padding: 5px;
}

.top-image{
    height: 600px;
    background-attachment: fixed;
    background-image: url(/images/backyard.jpg);
    background-size: cover;
    background-position-y: -500px;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 50px 10px black;
}
.welcome-banner{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}
.main-header{
    font-size: 64px;
}
.tiny-header{
    font-size: 24px;
    font-style: italic;
}
.sub-header{
    display: flex;
    font-size: 50px;
}
.left-firework{
    transform: rotate(325deg);
    position: relative;
    top: -25px;
    left: -10px;
    border-radius: 15px;
}
.right-firework{
    transform: scaleX(-1) rotate(325deg);
    position: relative;
    top: -25px;
    left: 10px;
    border-radius: 15px;
}

#countdown-section{
    display: grid;
    grid-template-columns: repeat(4, 120px);
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 50px;
}
.countdown-stack{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}
.number-row{
    display: flex;
    align-items: center;
}
.numbers{
    font-family: "Zen Dots", sans-serif;
    font-size: 36px;
}
.number-row p{
    position: relative;
    left: 50px;
}
.measurement{
    margin: 0;
}

.info-section{
    width: 645px;
    font-size: 18px;
}
.info-stack{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.info-header{
    font-weight: bold;
}

.summary{
    font-size: 18px;
    text-align: center;
    width: 700px;
    margin: 50px 0;
}

#rsvp-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    background-color: #f5f2f0;
    border: 5px solid #6A564A;
    border-radius: 10px;
    padding: 25px;
}
.form-heading{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 25px;
}
.form-stack, .form-group{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}
.form-stack-label{
    font-weight: bold;
}
#guest-names-container{
    width: 100%;
}
.radio-group{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}
.radio-group label{
    width: 165px;
    text-align: end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.checkbox-group{
    display: flex;
    flex-direction: column;
}
.checkbox-group label{
    width: 165px;
    text-align: end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.submit-btn{
    background-color: white;
    border: 2px solid #b7b6b5;
    border-radius: 10px;
    color: #2A3557;
    padding: 10px;
    margin-top: 25px;
    cursor: pointer;
    font-family: "Playfair Display", serif;
    font-size: 18px;
    font-weight: bold;
}
.submit-btn:hover{
    opacity: 0.5;
}

.submit-popup{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.submit-popup-box{
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    width: 500px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.25);
    text-align: center;
}
#popup-title{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: -25px;
}
#popup-message{
    width: 70%;
    margin-top: 25px;
}
#close-popup{
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    position: relative;
    top: -20px;
    left: 258px;
}


@media (max-width: 975px){
    .top-image{
        height: 500px;
        background-attachment: scroll;
        background-position: center;
    }

    .left-firework, .right-firework{
        height: 75px;
    }
    .main-header{
        font-size: 48px;
    }
    .tiny-header{
        font-size: 18px;
        font-style: italic;
    }
    .sub-header{
        display: flex;
        font-size: 32px;
    }

    .countdown-stack{
        font-size: 16px;
    }
    .numbers{
        font-size: 24px;
    }

    .info-section{
        width: 450px;
        font-size: 16px;
    }
    .summary{
        width: 475px;
        font-size: 16px;
    }

    #rsvp-form{
        width: 475px;
        font-size: 16px;
    }
    .form-heading{
        font-size: 24px;
    }
    #sub-select{
        width: calc(50% + 26px);
    }

    input[type="radio"]{
        margin-left: 10px;
    }

    .submit-btn{
        font-size: 16px;
    }
}

@media (max-width: 700px){
    .top-image{
        height: 300px;
        background-attachment: scroll;
        background-position: center;
    }

    .main-header{
        font-size: 36px;
    }
    .sub-header{
        font-size: 24px;
    }
    .left-firework, .right-firework{
        height: 50px;
        top: -15px;
    }
    #countdown-section{
        grid-template-columns: repeat(4, 75px);
    }
    .number-row p{
        left: 25px;
    }

    .info-section{
        width: 350px;
    }
    .summary{
        width: 375px;
    }

    #rsvp-form{
        width: 375px;
    }
    .form-heading{
        font-size: 18px;
    }

    .submit-popup-box{
        width: 350px;
    }
    #popup-title{
        font-size: 24px;
    }
    #popup-message{
        font-size: 16px;
        margin-top: 10px;
    }
    #close-popup{
        left: 185px;
    }
}

@media (max-width: 560px){
    .top-image{
        height: 200px;
    }

    .main-header{
        font-size: 24px;
        margin-top: -25px;
    }
    .tiny-header{
        font-size: 16px;
    }
    .sub-header{
        font-size: 20px;
    }
    .left-firework, .right-firework{
        height: 25px;
        top: 0px;
        left: 0;
    }
    #countdown-section{
        grid-template-columns: repeat(4, 50px);
    }
    .numbers{
        font-size: 18px;
    }
    .number-row p{
        left: 18px;
    }

    .info-section{
        width: 300px;
        font-size: 14px;
    }
    .summary{
        width: 325px;
        font-size: 14px;
    }

    #rsvp-form{
        width: 300px;
        border: 2px solid #6A564A;
    }
    .form-heading{
        font-size: 16px;
    }
    .form-stack{
        flex-direction: column;
    }
    .form-stack-label{
        font-size: 14px;
    }
    .radio-group{
        align-items: normal;
    }
    .submit-btn{
        font-size: 14px;
        padding: 5px;
    }

    input[type="text"], input[type="email"], input[type="number"] textarea, select, #sub-select{
        border: 1px solid #b7b6b5;
        font-size: 12px;
    }
    input[type="text"], input[type="email"], textarea{
        width: calc(100% - 15px);
    }
    select, #sub-select{
        width: 100%;
    }

    .submit-popup-box{
        width: 250px;
    }
    #popup-title{
        font-size: 16px;
    }
    #popup-message{
        font-size: 14px;
    }
    #close-popup{
        left: 135px;
    }
}

@media (max-width: 375px){
    .top-image{
        height: 100px;
    }

    .main-header{
        font-size: 18px;
        margin-top: -35px;
    }
    .tiny-header{
        font-size: 14px;
    }
    .sub-header{
        font-size: 16px;
        width: 90%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .left-firework, .right-firework{
        height: 25px;
        top: 0px;
        left: 0;
    }
    #countdown-section{
        grid-template-columns: repeat(4, 50px);
        gap: 10px;
    }
    .numbers{
        font-size: 16px;
    }
    .number-row p{
        left: 18px;
    }
    .measurement{
        font-size: 14px;
    }

    .info-section, .summary{
        width: 90%;
    }
    .info-stack{
        flex-direction: column;
        align-items: center;
    }

    #rsvp-form{
        width: 200px;
    }
    .form-heading{
        font-size: 14px;
    }
    .form-stack label{
        font-size: 12px;
    }
    .submit-btn{
        font-size: 12px;
        padding: 5px;
    }

    .submit-popup-box{
        width: 150px;
        padding: 25px 5px;
    }
    #popup-title{
        font-size: 14px;
    }
    #popup-message{
        font-size: 12px;
    }
    #close-popup{
        left: 65px;
    }
}